<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Registro de Eventos USAM</title>
    <link href="~/Content/Style.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <link href="~/Content/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>
<body>
    <nav class="navbar navbar-dark bg-primary navbar-expand-lg">
        <div class="container-fluid">
            <img src="~/images/LOGO_USAM.png" style="width: auto;height:50px;float:left;" />
            <a class="navbar-brand" href="#">RE</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                @if (Session["Usr"] != null)
                {
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="@Url.Content("~/Login/Index")"><i class="bi bi-house-door"></i> Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="@Url.Content("~/Eventos/MyEventos")"><i class="bi bi-calendar-event"></i> Mis Eventos</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-person-circle"></i>
                            Administrador  <!--este fragmento hasta que exista el login HttpContext.Current.Session["Usr"].ToString()-->
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                @Html.ActionLink("Salir", "Salir", "CerrarSesion", new { @class = "dropdown-item" })
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="@Url.Content("~/Persona/MyProfile")">Cambiar contraseña</a></li>
                        </ul>
                    </li>

                }
                else if (Session["Usr"] == null)
                {
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="@Url.Content("~/Login/Index")"><i class="bi bi-house-door"></i> Home </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="@Url.Content("~/Eventos/Feed")"><i class="bi bi-calendar-event"></i> Eventos </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="@Url.Content("~/Login/Ingresar")"><i class="bi bi-calendar-event"></i> Iniciar Sesion</a>
                        </li>
                      <!--  <li class="nav-item dropdown">
                            <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-person-circle"></i> Login
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Iniciar sesión</a></li>
                            </ul>
                        </li>--> 
                    }

                </ul>
            </div>
        </div>
    </nav>

    <!--Login
    <form action="@Url.Content("~/Login/Ingresar")" method="post" id="login-form" class="login-form" autocomplete="off" role="main">
        Modal 
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Iniciar Sesión</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12">
                            <img src="~/images/avatardefault.png" style="width:auto;height:150px;display:block;margin-left: auto;margin-right: auto;" />
                        </div><br />
                        <div class="col-md-12">
                            Entrada de usuario
                            <label for="txtUsuario">Usuario:</label>
                            <input type="text" name="txtUsuario" class="form-control" />

                            Entrada de contraseña
                            <label for="txtContrasena">Contraseña:</label>
                            <input type="text" name="txtContrasena" class="form-control" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Entrar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    FIN Login-->

    <div class="container">
        <br />
        @RenderBody()
        <br />
    </div>

    <div class="footer-basic bg-primary">
        <footer>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Home</a></li>
                <li class="list-inline-item"><a href="#">Services</a></li>
                <li class="list-inline-item"><a href="#">About</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
            </ul>
            <center>
                <div class="ist-inline" style="font-size:18px;">
                    <a href="#" style="text-decoration:none;color:black;"><i class="bi bi-instagram"></i> Instagram </a>
                    <a href="#" style="text-decoration:none;color:skyblue;"><i class="bi bi-twitter"></i> Twiter </i></a>
                    <a href="#" style="text-decoration:none;color:blue;"><i class="bi bi-facebook"></i> Facebook </a>
                    <a href="#" style="text-decoration:none;color:limegreen;"><i class="bi bi-whatsapp"></i> WhatsApp </a>
                </div><br />
                <p class="list-inline">Registro de Eventos USAM &copy; @DateTime.Now.Year</p>
            </center>
        </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/datatables.min.js"></script>

    <script type="text/javascript">
            $(document).ready(function () {
                $('#table').DataTable();
            });
    </script>
</body>
</html>