@model ReservacionEventosUSAM.Models.CRUD.Rol_Operacrud
@{
    ViewBag.Title = "Agregar Rol Operacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("AgregarRolOpera", "RolOpera", FormMethod.Post, new { role = "form", @class = "" }))
{
    <div class="card">
        <div class="card-header">
            <h3>Agregar operacion</h3>
        </div>
        <div class="card-body">
            @Html.AntiForgeryToken()

            @Html.LabelFor(d => d.id_rol)
            @Html.TextBoxFor(d => d.id_rol, new { @class = "form-control" })

            @Html.LabelFor(d => d.codopera)
            @Html.TextBoxFor(d => d.codopera, new { @class = "form-control" })
        </div>
        <div class="card-footer">
            <input type="submit" class="btn btn-success" value="Guardar" />
            <a class="btn btn-danger" href="@Url.Content("~/RolOpera/ConsultarRolOpera/")">Cancelar</a>
        </div>
    </div>
}
