@model List<ReservacionEventosUSAM.Models.CRUD.EVENTOvista>
@{
    ViewBag.Title = "Feed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eventos</h2>
<br />
    @foreach (var obj in Model)
    {
        <div class="container">

            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">@obj.titulo_evento</h5>
                    <p class="text-success float-end"><b>@obj.estado_evento <i class="bi bi-check-circle-fill"></i></b></p>
                </div>
                <div class="card-body">

                    <p class="card-text text-justify">
                        @obj.descripcion_evento
                    </p>

                    <p class="text-success"><b>Fecha de evento:</b> @obj.fecha_evento</p>
                    <p class="float-end"><b>Enfocado a: </b>@obj.tipo_persona</p>
                    <a href="@Url.Content("~/Eventos/VerEvento/"+obj.id_reservacion)" class="btn btn-success">Ver completo <i class="bi bi-eye-fill"></i></a>
                    <a href="#" class="btn btn-primary"><i class="bi bi-hand-thumbs-up-fill"></i></a>
                    <a href="#" class="btn btn-dark"><i class="bi bi-hand-thumbs-down-fill"></i></a>
                </div>
            </div>

            <hr />
        </div>
    }
<!-- El codigo que importa final -->