@model ReservacionEventosUSAM.Models.CRUD.TipoPersonaUpdate
@{
    ViewBag.Title = "ActualizarTipoPersona";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm("ActualizarTipoPersona", "Tipo_persona", FormMethod.Post, new { role = "form", @class = "" }))
{
    <div class="card">
        <div class="card-header">
            <h2>ActualizarTipoPersona</h2>
        </div>
        <div class="card-body">
            @Html.AntiForgeryToken()
            
            @Html.HiddenFor(d => d.id_tipo_persona)
            @Html.ValidationMessage("error", new { @class = "tex-danger" })

            @Html.LabelFor(d => d.tipo_persona)
            @Html.TextBoxFor(d => d.tipo_persona, new { @class = "form-control" })
            @Html.ValidationMessage("persona", new { @class = "text-danger" })
            <br />
            @Html.LabelFor(d => d.costo_pago_evento)
            @Html.TextBoxFor(d => d.costo_pago_evento, new { @class = "form-control" })
            @Html.ValidationMessage("costo", new { @class = "text-danger" })
            <br />
        </div>
        <div class="card-footer">
            <input type="submit" class="btn btn-success" value="Guardar" />
            <a class="btn btn-danger" href="@Url.Content("~/Tipo_persona/ConsultarTipoPersona/")">Cancelar</a>
        </div>
    </div>
}
